export(cpa)
export(pcv)
export(mpa)
export(profileplot)
export(pr)
export(pbg)
export(pams)
export(paos)
export(wprifm)
import(MASS)
import(stats)
import(RColorBrewer)
import(ggplot2)
import(plyr)
import(lavaan)
import(methods)
importFrom(graphics,plot)
importFrom(reshape,melt)
S3method(plot,critpat)
S3method(plot,prof)
S3method(print,critpat)
S3method(print,prof)
S3method(print,profg)
S3method(summary,profg)
S3method(summary,critpat)
S3method(anova,critpat)