S3method(plot,prof)
S3method(print,prof)
S3method(summary,critpat)
export(criterion.pattern)
export(profilecv)
export(profileplot)
export(subscore.reliability)
import(MASS)
import(ggplot2)
import(plyr)
import(methods)
importFrom(graphics,plot)
importFrom(reshape,melt)
