export(criterion.pattern)
export(profilecv)
export(profileplot)
export(profile.reliability)
export(profile.by.group)
import(MASS)
import(RColorBrewer)
import(ggplot2)
import(plyr)
import(methods)
import(stats4)
importFrom(graphics,plot)
importFrom(reshape,melt)
exportClasses(profileR)
exportMethods(summary)
S3method(print)


