S3method(plot,prof)
S3method(print,prof)
S3method(summary,profg)
S3method(summary,critpat)
export(criterion.pattern)
export(profilecv)
export(profileplot)
export(profile.reliability)
export(profile.by.group)
import(MASS)
import(RColorBrewer)
import(ggplot2)
import(plyr)
import(methods)
importFrom(graphics,plot)
importFrom(reshape,melt)
