S3method(plot,critpat)
S3method(plot,prof)
S3method(print,critpat)
S3method(print,prof)
S3method(summary,profg)
S3method(summary,critpat)
S3method(anova,critpat)
S3method(print,critpat)
S3method(plot,critpat)
export(cp)
export(pc)
export(profileplot)
export(pr)
export(pbg)
export(pams)
export(criterion.pattern)
export(pams)
export(profile.by.group)
export(profile.reliability)
export(profilecv)
export(profileplot)
import(MASS)
import(RColorBrewer)
import(ggplot2)
import(plyr)
import(methods)
import(stats)
importFrom(graphics,plot)
importFrom(reshape,melt)
